h1{
    font-size: 20px;
    color: crimson
}

.verde{
    font-size: 15px;
    color: chartreuse
}

.grande{
    font-size: 50px;
}

ul::before{
    content: "Aqui empieza una lista";
    color: sienna;
}

ul::after{
    content: "Aqui termina una lista";
    color: yellow;
}

body>p:nth-of-type(1){
    color: green;
}